# Assignment 2. Offensive Language Detection

## Part A: Fine-tune BERT for offensive language detection (7 points)

### 1.  Class distributions (1 point)

Load the training set (olid-train.csv) and analyze the number of instances for each of the two 
classification labels.

In [5]:
import os 
import numpy as np
import pandas as pd

cwd = os.getcwd()

In [9]:
olid_train = pd.read_csv(f"{cwd}/data/OLIDv1/olid-train.csv", sep=",")
olid_train

          id                                               text  labels
0      86426  @USER She should ask a few native Americans wh...       1
1      90194  @USER @USER Go home you’re drunk!!! @USER #MAG...       1
2      16820  Amazon is investigating Chinese employees who ...       0
3      62688  @USER Someone should'veTaken" this piece of sh...       1
4      43605  @USER @USER Obama wanted liberals &amp; illega...       0
...      ...                                                ...     ...
13235  95338  @USER Sometimes I get strong vibes from people...       1
13236  67210  Benidorm ✅  Creamfields ✅  Maga ✅   Not too sh...       0
13237  82921  @USER And why report this garbage.  We don't g...       1
13238  27429                                        @USER Pussy       1
13239  46552  #Spanishrevenge vs. #justice #HumanRights and ...       0

[13240 rows x 3 columns]

In [13]:
num_1 = sum(olid_train["labels"] == 1) 
num_0 = sum(olid_train["labels"] == 0) 

class_dis = pd.DataFrame({
    "Class label" : ["1 (OFF)", "0 (NON-OFF)"],
    "Number of Instances" : [num_1, num_0],
    "Relative label frequency (%)" : [round(num_1 / len(olid_train["labels"]), 2), round(num_0 / len(olid_train["labels"]), 2)],
    "Example tweet with this label" : ["@USER Oh noes! Tough shit.", "@USER You can tell he is a hooper too" ] 
    })

class_dis

,Class label,Number of Instances,Relative label frequency (%),Example tweet with this label
0,1 (OFF),4400,0.33,@USER Oh noes! Tough shit.
1,0 (NON-OFF),8840,0.67,@USER You can tell he is a hooper too

### 2. Baselines (1 point) 

Calculate two baselines and evaluate their performance on the test set (olid-test.csv): 

● The first baseline is a random baseline that randomly assigns one of the 2 classification 
labels. 

● The second baseline is a majority baseline that always assigns the majority class. 

Calculate the results on the test set and fill them into the two tables below. Round the results to 
two decimals.